machine:
  network:
    disableSearchDomain: true
    nameservers:
      #% for item in node_dns_servers %#
      - #{ item }#
      #% endfor %#
  features:
    kubePrism:
      enabled: true
      port: 7445
